body {
  background-color: AliceBlue;
  font-family: 'Comfortaa', cursive;
}

#country-list-view {
  display: flex;
  flex-wrap: wrap;
}

h1 {
  font-weight: bold;
}

#country {
  padding: 10px;
  min-width: 220px;
  border: 2px solid black;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #8ca6d1;

}

button {
  background-color: red;
  color: #FFF;
  font-weight: bold;
  padding: 10px;
}

select {
  padding: 20px;
  margin: 8px 0;
  border: 2px solid;
  border-radius: 4px;
  font-size: 1.25em;
}

.save {
  background-color: red;
  color: #FFF;
  font-weight: bold;
  padding: 10px;
  margin: 10px;
}
